<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>0</key>
        <array>
            <string>Banco Popolare</string>
            <string>Visualizza tutti i bancomat di:
Banco Popolare</string>
            <string>bancoSpotlight</string>
        </array>
        <key>1</key>
        <array>
            <string>BKS banka</string>
            <string>Visualizza tutti i bancomat di:
BKS banka</string>
            <string>bksSpotlight</string>
        </array>
        <key>2</key>
        <array>
            <string>Croatia banka</string>
            <string>Visualizza tutti i bancomat di:
Croatia banka</string>
            <string>croatiaSpotlight</string>
        </array>
        <key>3</key>
        <array>
            <string>Erste bank</string>
            <string>Visualizza tutti i bancomat di:
Erste bank</string>
            <string>ersteSpotlight</string>
        </array>
        <key>4</key>
        <array>
            <string>Hrvatska Poštanska Banka</string>
            <string>Visualizza tutti i bancomat di:
Hrvatska Poštanska Banka</string>
            <string>hpbSpotlight</string>
        </array>
        <key>5</key>
        <array>
            <string>Hypo Alpe Adria Bank</string>
            <string>Visualizza tutti i bancomat di:
Hypo Alpe Adria Bank</string>
            <string>hypoSpotlight</string>
        </array>
        <key>6</key>
        <array>
            <string>IMEX banka</string>
            <string>Visualizza tutti i bancomat di:
IMEX banka</string>
            <string>imexSpotlight</string>
        </array>
        <key>7</key>
        <array>
            <string>Istarska Kreditna Banka</string>
            <string>Visualizza tutti i bancomat di:
Istarska Kreditna Banka</string>
            <string>ikbSpotlight</string>
        </array>
        <key>8</key>
        <array>
            <string>Karlovačka banka</string>
            <string>Visualizza tutti i bancomat di:
Karlovačka banka</string>
            <string>kabaSpotlight</string>
        </array>
        <key>9</key>
        <array>
            <string>Kreditna banka Zagreb</string>
            <string>Visualizza tutti i bancomat di:
Kreditna banka Zagreb</string>
            <string>kbzSpotlight</string>
        </array>
        <key>10</key>
        <array>
            <string>OTP banka</string>
            <string>Visualizza tutti i bancomat di:
OTP banka</string>
            <string>otpSpotlight</string>
        </array>
        <key>11</key>
        <array>
            <string>Partner banka</string>
            <string>Visualizza tutti i bancomat di:
Partner banka</string>
            <string>pabaSpotlight</string>
        </array>
        <key>12</key>
        <array>
            <string>Podravska banka</string>
            <string>Visualizza tutti i bancomat di:
Podravska banka</string>
            <string>pobaSpotlight</string>
        </array>
        <key>13</key>
        <array>
            <string>Privredna Banka Zagreb</string>
            <string>Visualizza tutti i bancomat di:
Privredna Banka Zagreb</string>
            <string>pbzSpotlight</string>
        </array>
        <key>14</key>
        <array>
            <string>Raiffeisen bank</string>
            <string>Visualizza tutti i bancomat di:
Raiffeisen bank</string>
            <string>raiffeisenSpotlight</string>
        </array>
        <key>15</key>
        <array>
            <string>Sberbank</string>
            <string>Visualizza tutti i bancomat di:
Sberbank</string>
            <string>sberbankSpotlight</string>
        </array>
        <key>16</key>
        <array>
            <string>Slatinska banka</string>
            <string>Visualizza tutti i bancomat di:
Slatinska banka</string>
            <string>slatinskaSpotlight</string>
        </array>
        <key>17</key>
        <array>
            <string>Splitska banka</string>
            <string>Visualizza tutti i bancomat di:
Splitska banka</string>
            <string>splitskaSpotlight</string>
        </array>
        <key>18</key>
        <array>
            <string>Veneto banka</string>
            <string>Visualizza tutti i bancomat di:
Veneto banka</string>
            <string>venetoSpotlight</string>
        </array>
        <key>19</key>
        <array>
            <string>Zagrebačka banka</string>
            <string>Visualizza tutti i bancomat di:
Zagrebačka banka</string>
            <string>zabaSpotlight</string>
        </array>
    </dict>
</plist>
